@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

*{
    border: 0;
    margin: 0;
    text-align: center;
    align-items: center;
    margin-top: 2.1%;
}


body{
    background-color: #63A6B2;
}

h1{
    /*margin-left: -2.5%;*/
    font-family: 'Poppins', sans-serif;
    font-size: 420%;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 164%;
    margin: 0 0 15% 0;
}

#login_cad{
    align-items: center;
    font-weight: bolder;
}

form{  
    background-color: aliceblue;
    width: 13.5%;
    height: 60%;
    margin-left: 40%;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    border-radius: 10.5%;
    text-align: center;
    padding: 3%;
    justify-content: space-between;
}

input[type="email"]{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    cursor: auto;
    margin: 0 0 6% 0;
}

input[type="password"]{
    width: 100%;
    font-family: 'Poppins', sans-serif;
    cursor: auto;
    margin: 0 auto;
    margin: 0 0 6% 0 ;
}

input[type="submit"]{
    width: 35%;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    margin: 0 0 6% 0;
}

/*.textBox{
    
}*/

input:active{
    background-color: azure;
}

.link_page{
    background-color: #4CAF50;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 12% ;
    
}

.login{
    background-color: #3F87A6;
    border-radius: 12%;
}


@media only screen and (max-device-width: 700px) {
    form { 
        width:40%; 
        text-align: center;
        margin-left: 30% ;
    }

}

@media only screen and (max-device-width: 900px) {
    form { 
        width:40%; 
        text-align: center;
        margin-left: 30% ;
    }
}